.container{
  width:1000px;
  margin: 50px auto;
  text-align: center;
  font-family: Helvetica;
}

ul {
  text-align: left;
  width:50px;
  margin-left: auto;
  margin-right: 220px;
}   
body{
  color:white;
  background-color: #11100C;
  font-weight: 600;
  
}
table{
  margin-left: auto;
  margin-right: auto;
  padding: ;
}

img{ 
  float:left;
  padding-right: 30px;
  padding-bottom: 20px;
}
h1{  
  text-align: right;
  writing-mode: vertical-rl;
  padding-bottom:20px;
  margin-left: left;
   font-size:250%;
  line-height: 120%;
}
p3{
   font-weight: 900;
 text-align: center;
}
p1{
  font-size:175%;
  
}
p2{
  padding-top:200px;
  
}
h5{
  text-align: justify;
}
h6{
   text-align: left;
}
